.contact-section>.extra-padding {
    padding: 0 15%;
}


/* .bg {
    background-image: url(/assets/imgs/bg.jpg);
    background-attachment: fixed;
} */

.emphesis {
    color: #4b7bec;
}

.input-data {
    width: 100%;
    position: relative;
}

.input-data input,
.input-data textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
}

.input-data textarea~.underline {
    height: 2px;
    bottom: 1px;
}

.input-data textarea {
    border-bottom: none;
}

.input-data input:focus~label,
.input-data input:valid~label,
.input-data textarea:focus~label,
.input-data textarea:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: silver;
}

.input-data input:required,
.input-data textarea:required {
    box-shadow: none;
}

.input-data .underline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4158d0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-data input:focus~.underline::before,
.input-data input:valid~.underline::before,
.input-data textarea:focus~.underline::before,
.input-data textarea:valid~.underline::before {
    transform: scaleX(1);
}

.input-data label {
    position: absolute;
    /* bottom: 5px; */
    color: grey;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.btn-send {
    position: relative;
    padding: 0.5em 2em;
    background-color: #135175;
    color: whitesmoke;
    font-size: 1.1em;
    overflow: hidden;
    transition: all 1s ease;
    font-weight: 600;
}

.btn-send::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgb(250, 249, 249);
    box-shadow: inset 5px 5px 5px whitesmoke;
    transform: translateX(-100%) rotate(45deg);
    transition: all 1s ease;
}

.btn-send:hover:after,
.btn-send:focus::after {
    transform: translateX(100%) rotate(45deg);
    /* background-color: white; */
}

.btn-send:hover,
.btn-send:focus {
    background-color: rgb(19, 92, 141);
    color: white;
    /* background-color: rgb(48, 226, 122); */
}


/* sdmcxjiwoefd */

.contact-item {
    padding: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    /* -webkit-box-shadow: 0 0 8px 0 rgba(240, 240, 240, 1);
    -moz-box-shadow: 0 0 8px 0 rgba(240, 240, 240, 1);
    box-shadow: 0 0 8px 0 rgba(240, 240, 240, 1); */
    position: relative;
}

.contact-item .content {
    float: left;
}

.contact-section .fa,
{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.contact-item>span {
    font-size: 5rem !important;
    color: #f0f0f0;
    margin-top: 25px;
    position: absolute;
    right: 19px;
    bottom: 13px;
}

@media (max-width: 768px) {
    .contact-section h1 {
        font-size: 1.8em !important;
    }
}

@media only screen and (min-width: 766px) and (max-width: 1204px) {
    .contact-item>span {
        display: none;
    }
}