img {
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: 12rem;
    user-select: none;
}

.product-modal {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3em;
}