.product-container img {
    object-fit: contain;
    object-position: center;
    width: inherit;
    height: 12rem;
    user-select: none;
}

.product-modal {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.product-container {
    /* border: 1px solid #3333; */
    margin-top: .5rem;
    /* box-shadow: 2px 2px 10px black; */
}