.sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 8%;
    /* required */
    align-items: flex-start;
}

.productSide {
    position: relative;
}

.env-btn {
    padding-right: 0.4em;
}

.product-type,
.product-sub-type {
    user-select: none;
    /* font-size: .8em; */
}

.product-title {
    font-size: 1.3em;
    text-align: center;
    padding: 0.4em 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.623);
    background: #f3f3f3;
    position: relative;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
}

.angle-right {
    position: absolute;
    right: 5%;
    top: 25%;
    transition: transform 100ms ease;
}

.activeItem .product-title .angle-right {
    transform: rotate(90deg);
}

.activeItem>.product-sub-title .angle-right {
    transform: rotate(90deg);
}

.product-items,
.product-sub-items {
    padding: 0;
    margin: 0;
    transition: all 250ms ease;
    height: 0;
    font-size: 1.1em;
}

.activeItem .product-items {
    height: auto;
}

.activeItem .product-item {
    opacity: 1;
    pointer-events: all;
}

.activeItem>.product-sub-items {
    height: auto;
}

.activeItem>.product-sub-items>.product-sub-item {
    opacity: 1;
    pointer-events: all;
}

.activeItem .product-items .product-sub-type {
    opacity: 1;
    pointer-events: all;
}

.product-item,
.product-sub-type,
.product-sub-item {
    margin: 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgba(197, 197, 197, 0.384);
    background: #fcfcfc;
    opacity: 0;
    pointer-events: none;
    /* font-weight: 500; */
}

.link,
.link:active,
.link:focus,
.link:hover {
    display: block;
    text-decoration: none;
    color: #2e3236;
    width: 100%;
    outline: none;
}


/* .product-item {
    opacity: 0;
} */

.product-sub-type>ul {
    list-style: none;
}

.product-sub-title {
    position: relative;
    font-weight: 500;
    background: #f9f9f9;
    padding: 0.3em 0;
    margin: 0;
    /* opacity: 0; */
}

ul li:last-child {
    border-bottom: none;
}

@media (max-width: 771px) {
    aside {
        margin-bottom: 3em;
        position: relative;
    }
}