.btn-inq {
    width: 100%;
    text-align: center;
    font-size: 1em;
    background: rgb(4, 60, 92);
    color: white;
    font-weight: 600;
    padding: .6em;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
}

.productSide {
    position: relative;
}

.env-btn {
    padding-right: .4em;
}

.product-type,
.product-sub-type {
    user-select: none;
}

.product-title {
    text-align: center;
    padding: .4em 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.623);
    background: #f3f3f3;
    position: relative;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
}

.angle-right {
    position: absolute;
    right: 5%;
    top: 25%;
    transition: transform 100ms ease;
}

.activeItem .product-title .angle-right {
    transform: rotate(90deg);
}

.activeItem>.product-sub-title .angle-right {
    transform: rotate(90deg);
}

.product-items,
.product-sub-items {
    padding: 0;
    margin: 0;
    transition: all 250ms ease;
    height: 0;
}

.activeItem .product-items {
    height: auto;
}

.activeItem .product-item {
    opacity: 1;
}

.activeItem>.product-sub-items {
    height: auto;
}

.activeItem>.product-sub-items>.product-sub-item {
    opacity: 1;
}

.activeItem .product-items .product-sub-type {
    opacity: 1;
}

.product-item,
.product-sub-type,
.product-sub-item {
    margin: 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgba(197, 197, 197, 0.384);
    background: #fcfcfc;
    opacity: 0;
}

.link,
.link:active,
.link:focus,
.link:hover {
    display: block;
    text-decoration: none;
    color: #2e3236;
    width: 100%;
    padding: .2em 0;
}


/* .product-item {
    opacity: 0;
} */

.product-sub-type>ul {
    list-style: none;
}

.product-sub-title {
    position: relative;
    font-weight: 500;
    background: #f9f9f9;
    padding: .3em 0;
    margin: 0;
    /* opacity: 0; */
}

ul li:last-child {
    border-bottom: none;
}