header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgb(219, 217, 217);
    position: relative;
    z-index: 9999;
    font-size: 1.1rem;
}

.sticky {
    position: initial;
}

.sticky+.content {
    margin-top: initial;
}

header>.container {
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.link-logo {
    margin-top: .6rem;
    height: 2.5em;
    float: left;
}

.logo {
    height: inherit;
}

.site-nav {
    position: absolute;
    background-color: rgb(4, 60, 92);
    top: 100%;
    right: 0;
    z-index: 9999;
    width: 100%;
    letter-spacing: 1px;
    clip-path: circle(0px at top right);
    transition: clip-path 500ms ease-in-out;
}

.site-nav--open {
    clip-path: circle(100%);
    z-index: 9999;
}

.site-nav>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* overflow: hidden; */
}

.site-nav>ul li {
    border-bottom: 1px solid #6262744f;
}

.site-nav>ul li:last-child {
    border-bottom: none;
}

.site-nav .link-nav {
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    display: block;
    /* padding: 1em 4em 1em 1.5em; */
    padding: 0.5em 0 .5em .5em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.dropdown-content .dd-item {
    display: block;
    /* width: 100%; */
    text-decoration: none;
    color: white;
    padding: .4em 0 .4em 1.5em;
}

.dropdown-content .dd-item:first-child {
    border-top: 1px solid #6262744f;
}

.dropdown-content li {
    list-style: none;
    width: 100%;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    right: 0.75em;
    bottom: 0.5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: rgb(111, 147, 161);
    height: 0.2em;
    width: 1.7em;
    border-radius: 0.3em;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    transform: rotate(90deg) translateY(0px) translateX(1px);
}

.open .hamburger::after {
    opacity: 0;
}

@media (min-width: 991px) {
    .menu-toggle {
        display: none;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 15px;
    }
    .sticky+.content {
        margin-top: 3.2em;
    }
    .site-nav {
        height: auto;
        width: auto;
        position: relative;
        background: transparent;
        float: right;
        overflow: visible;
        clip-path: none;
    }
    .site-nav>ul>li {
        display: inline-block;
        border: none;
    }
    .site-nav .link-nav,
    .link-nav:active {
        font-size: 1em;
        color: #666666;
        padding: 1em 1.5em 0.9em 1.5em;
        font-weight: 500;
        user-select: none;
    }
    /* .active {
        background-color: initial;
        color: initial;
        box-shadow: initial;
    } */
    .active {
        outline: none;
        background-color: azure;
        color: #4b7bec !important;
        border-radius: 0.1em;
        box-shadow: 0px 2px 0px #4b7bec;
    }
    .no-active {
        background-color: initial;
        color: initial;
        border-radius: initial;
        box-shadow: initial;
    }
    .link-nav:hover,
    .link-nav:focus,
    .link-nav:active {
        background-color: azure;
        color: #4b7bec;
        border-radius: 0.1em;
        box-shadow: 0px 2px 0px #4b7bec;
        outline: none;
    }
    .dropdown {
        position: relative;
        overflow: visible;
    }
    .dropdown .dropdown-content {
        z-index: 5;
        position: absolute;
        min-width: 12em;
        background: rgb(250, 250, 250);
        box-shadow: 0px -2px 0px #4b7bec;
        top: 100%;
        opacity: 0;
        height: 0;
        transition: all 250ms ease-in;
        overflow: hidden;
    }
    .dropdown-content>li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid black;
    }
    .dropdown-content .dd-item {
        font-size: 1em;
        font-weight: 500;
        color: #666666;
        display: block;
        padding: 0.5em .5em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s ease-out;
        user-select: none;
    }
    .dropdown-content .dd-item:hover,
    .dropdown-content .dd-item:focus {
        background-color: rgb(230, 227, 227);
        text-decoration: none;
        color: #4b7bec;
    }
    .dd-active {
        background-color: rgb(230, 227, 227);
        color: #4b7bec !important;
        text-decoration: none;
    }
    .dropdown:hover .dropdown-content,
    .dropdown:hover .dropdown-content {
        height: auto;
        opacity: 100;
    }
}